# Activity

### (Tuesday)

## Linear Regression

- X-y split (y is the target variable, in this case, "total claim amount")
- Train-test split.
- Standardize the data (after the data split!).
- Apply linear regression.
- Model Interpretation.


### (Wednesday)

## Model Validation

- Model Evaluation:
    MSE.
    RMSE.
    MAE.
    R2.
    Adjusted R2.

- Feature Importance.

### Model Iteration (Wednesday and Thursday)

Rerun the model after adding the hot encoded categorical variables as well as other numeric 
categroical variables (e.g. number of open complaintes).


(Optional) Rerun the model after removing the outliers and compare the results using the R2.

In [9]:
import seaborn as sns
import pandas as pd
import numpy as np

In [10]:
# Load dataset from an csv file

df = pd.read_csv('marketing_customer_analysis_clean.csv')
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [11]:
df = df.dropna()

In [12]:
# X-y split (y is the target variable, in this case, "total claim amount")

X = df[['customer_lifetime_value']]
y = df[['total_claim_amount']]

In [13]:
# Train-test split

from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 100)

In [15]:
# Standardize the data (after the data split!)

In [16]:
# Apply linear regression.

from sklearn.linear_model import LinearRegression

In [17]:
lm = LinearRegression()

In [18]:
model = lm.fit(X_train, y_train)

In [19]:
model.coef_

array([[0.01030569]])

In [20]:
model.intercept_

array([352.11441998])

In [21]:
# Model Interpretation

y_pred = np.array(model.predict(X_test))

In [22]:
y_test.reset_index(inplace=True)

In [24]:
pd.DataFrame(y_pred)[0]

0       381.078197
1       378.966922
2       428.907190
3       521.929201
4       446.850437
           ...
2723    524.505659
2724    404.335501
2725    421.420639
2726    392.720114
2727    437.610194
Name: 0, Length: 2728, dtype: float64

In [25]:
y_pred.shape

(2728, 1)

In [27]:
real_vs_pred = pd.DataFrame({'y_test': y_test['total_claim_amount'], 'y_pred':pd.DataFrame(y_pred)[0]})

In [28]:
real_vs_pred

          y_test      y_pred
0     340.800000  381.078197
1     195.153339  378.966922
2     770.400000  428.907190
3     336.000000  521.929201
4     561.600000  446.850437
...          ...         ...
2723  345.600000  524.505659
2724  664.280864  404.335501
2725  684.000000  421.420639
2726   25.713622  392.720114
2727  497.684017  437.610194

[2728 rows x 2 columns]